```
# Dependencies
venv/
.venv/
__pycache__/
.mypy_cache/
.pytest_cache/
target/
.gradle/

# Build artifacts
build/
dist/

# Logs and temp files
*.log
*.tmp

# Environment
.env
.env.local
*.env.*

# Editors
.vscode/
.idea/

# PowerShell scripts temp files
*.ps1~

# Rust build artifacts
**/*.rs.bk
```